{% extends 'base.html' %}{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#">
				<em class="fa fa-home"></em>
			</a></li>
			<li class="active">CarRobots</li>
		</ol>
	</div><!--/.row-->
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">CarRobots</h1>
		</div>
	</div><!--/.row-->
	

	
	<table class="table" style = "width: 70%;margin: 0 auto;text-align: center;border: 2px solid black;font-size: 20px;font-family: '標楷體'">
		<thead class="thead-dark" style = "background-color: rgb(201, 240, 240)">
		  <tr style = "border: 2px solid black">
			<th scope="col" style = "text-align: center;border: 1px solid black">carid</th>
			<th scope="col" style = "text-align: center;border: 1px solid black">status</th>
			<th scope="col" style = "text-align: center;border: 1px solid black">battery</th>
		  </tr>
		</thead>
		<tbody>
			{% for datas in data %}
		  <tr>
			<td style = "border: 1px solid black;color: black" class ="carname">{{datas.1}}</td>
			<td style = "border: 1px solid black;color: black">{{datas.2}}</td>
			<td style = "border: 1px solid black;color: black" class = "battery">{{datas.3}}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	
	<div class="row">
		<div class="col-lg-11">
			<div class="panel panel-default">
				<div class="panel-heading">
					Battery Chart
					<ul class="pull-right panel-settings panel-button-tab-right">
						<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
							<em class="fa fa-cogs"></em>
						</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<ul class="dropdown-settings">
										<li><a href="#">
											<em class="fa fa-cog"></em> Settings 1
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
											<em class="fa fa-cog"></em> Settings 2
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
											<em class="fa fa-cog"></em> Settings 3
										</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
				<div class="panel-body">
					<div class="canvas-wrapper">
						<div id="chartContainer" style="height: 500px; width: 100%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.row-->		
	
</div>	<!--/.main-->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
window.onload = function () {
	var carname = $(".carname").text().split("號")
	var battery = $(".battery").text().split("%")
	var datas = []
	var car = []
	var batteries = []
	for(i=0;i<carname.length-1;i++){
		car.push(carname[i]+"號")
	}
	for(i=0;i<carname.length-1;i++){
		batteries.push(battery[i])
	}
	for(i=0;i<carname.length-1;i++){
		car1 = JSON.stringify(car[i])
		battery1 = parseInt(batteries[i])
		datas.push({label:car1,y:battery1})
	}
	
	var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: false,
	exportEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	axisY:{suffix: "%",maximum:100},
	title:{
		text: "Battery"
	},
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		//indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
		indexLabelPlacement: "outside",
		dataPoints: datas,
		color:'#6eafdd'
	}]
});
chart.render();
};
function myrefresh(){ 
	window.location.reload(); 
} 
setTimeout('myrefresh()',180000)
</script>
{% endblock %}	